<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) {%>
    <h1>Welcome <%= user.username %></h1>
    <a href="/members-only/log-out">Log out</a>
    <% } else { %>
    <h1>Welcome to Members Only Application</h1>
    <a href="/members-only/log-in">Log in</a>
    <a href="/members-only/sign-up">Sign up</a>
    <%}%>
  </body>
</html>
