<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) {%>
    <h1>Welcome <%= user.username %></h1>
    <ul>
      <% list_messages.forEach(function(message) { %>
      <li>title:<%= message.title %> content:<%= message.content %></li>
      <% }); %>
    </ul>
    <a href="/create-message">Create a message</a>
    <a href="/log-out">Log out</a>
    <% } else { %>
    <h1>Welcome to Members Only Application</h1>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>
    <%}%>
  </body>
</html>
