<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Become a member!</h1>
    <p>We have sent you a verification email</p>
    <form action="" method="POST">
      <label for="otp">Write down the otp</label>
      <input type="number" name="otp" />
      <button type="submit">Verify</button>
    </form>
  </body>
</html>
