<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Write your message</h2>
    <form action="" method="POST" class="form-control">
      <label for="message_title">Title</label>
      <input name="message_title" placeholder="title" type="text" />
      <label for="message_content">Content</label>
      <textarea name="message_content"></textarea>
      <button>Create</button>
    </form>
  </body>
</html>
