<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <div class="form-control">
      <form action="" method="POST">
        <label for="first_name">First name</label>
        <input name="first_name" required="true" type="text" />
        <label for="last_name">Last name</label>
        <input name="last_name" required="true" type="text" />
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" />
        <button>Sign Up</button>
      </form>
    </div>
  </body>
</html>
